[Desktop Entry]
Version=1.0
Type=Application
Name=UDF Belge Arama
Comment=UYAP Doküman Editörü dosyalarında içerik arama programı
Exec=udfarama
Icon=com.adalettekno.UdfArama
Categories=Office;Utility;
Terminal=false
StartupNotify=true
